:root{
    /* цвета */
    --primary-bg-color: #2d2d2d;
    --secondary-bg-color: #434343; 
    --primary-font-color: #fff;
    --secondary-font-color: rgb(224, 224, 224);
    --footer-bg-color: #333;

    /* размеры  */
}